/* Comentarios en CSS  */


#logo{
    width: 100%;
}

#logofooter{
    width: 40%;
    margin-left: 20%;
} 

#logomargen{
    width: 100px;
}
 
.amarillo2{
    list-style: none;
    color: #000000;
}

.sectionimgheater{
    width: 100%;
}

.amarillo{
    background-color: rgba(255, 255, 255, 0.46);
    list-style: none;
}

p{
    margin: 5px;
    padding: 1px;
    color: #000000;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

body{
    margin: 0px;
    padding: 0px;
}

.imgHeader{
    width: 100%;    
}

.buscar{
    border-color: #009970;
    border-width: 2px;
    border-style: solid;
    background-color: #cccccc;
    padding: 5px;
    width: 80%;
} 

ul li a {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.bienestar{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: #009970;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.46);
    top:70%;
    left:0%;
    width: 100%;
}

hr{
    height: 3px;
    width: 8%;
    color:#009970;
    background-color: #009970;
    border-color: #009970;
    
}

.hr1{
    color: #cccccc;
    background-color: #cccccc;
    border-color: #cccccc;
}

.titleGeneral{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: #333333;
    text-align: center;
    font-size: 20px;
}

.excersice{
    width: 30%;
    height: 90%;

}

.excersice1{
    width: 23%;
    height: 80%;
}

.buttonTerapeutica{
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius:7px;
    width: 14%;
    margin: 10px;

}

.buttonEjercicio{
    border-color: #009970;
    background-color: #009970;
    color: #cccccc;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.buttonFisioterapia{
    border-color: #009970;
    border-width: 2px;
    color: #009970;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 17px;
   text-align: center;
}

button{
    outline:none;
    }

.content{
    text-align: center;
    
}
.section1{
    width: 100%;
    background-color: rgba(0, 153, 112, 0.6);

}
.caja{
    background-color: #cccccc;
    width: 20%; 
    margin: 10px;
    padding: 8px 15px;
    border-radius: 20px;
}
.textossection1{
    margin-left: 3%;
}
.parrafo{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #333333;
    font-size: 14px;

}
   
.cajasection3-1{
    background-color: #009970;
    width: 180px; 
    height: 20%;
    margin-left: 10%;
    padding: 8px 15px;
}

.parrafosection3-1{
    color: #cccccc;
    font-size: 15px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
   
}

.excersice2{
    width: 18%;
    height: 40%;
    margin:10px 31px;
}

.cajasection3-2{
    background-color: #cccccc;
    width: 180px; 
    height: 20%;
    margin-left: 5%;
    padding: 8px 15px;
}

.parrafosection3-2{
    color: #009970;
    font-size: 15px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.section1-4{
    background-color: #cccccc;
}
.caja1noticias{
    margin: 30px;
    background-color: #e6e6e6;
    width: 40%;
    text-align: center;
}
.titulo1noti{
    color: #009970;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.parrafonoti{
    color: #333333;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.buttonVermas2{
    color: #cccccc;
    background-color: #009970;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    margin: 10px;
    border-color: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 13px;

}

.buttonVermas1{
    color: #009970;
    background-color: #cccccc;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    margin: 10px;
    border-color: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 13px;
 
}

.buttonSede1{
    color: #cccccc;
    background-color: #009970;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 10px;
    border-color: #009970;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 18px;
   
}

.buttonSede2{
    color: #009970;
    background-color: #FFFFFF;
    padding: 15px;
    padding-left: 23px;
    padding-right: 23px;
    border-color: #009970;
    border-width: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 10px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 18px;
    
}

.excersice6-1{
    border-color: #009970;
    border-width: 10px;
    border-style: solid;
    width: 44%;
    height: 90%;
    margin: 15px 10px;
}

.excersice6{
    width: 44%;
    height: 80%;
    margin: 15px 5px;
    border-color: #FFFFFF;
    border-width: 10px;
    border-style: solid;
}


.sectiondenuncia{
    background-color: rgba(51, 51, 51, 0.65);
    height: 250px;
    width: 100%;
}

.titulodenuncia{
    color: #cccccc;
    text-align: center;
}
.titulodenuncia2{
    color: #cccccc;
    text-align: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.cajaeventos{
    padding: 25px 30px;
    background-color: rgba(0, 153, 112, 0.23);
    width: 330px;
    height: 300px;
}
.tituloeventos{
    color: #009970;
    text-align: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 23px;
}

.textEventos{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #333333;
}

.textEventos2{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
}

#footer{
    padding-top: 3%;
    margin-top: 3%;
    background-color: rgba(51, 51, 51, 0.65);
    width: 100%;
}

b{
    color: #cccccc;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/******** Posicionamiento *************/
.relativo{
    position: relative;
}
.flotante{
    float: left;
}
.absoluto{
    position: absolute;
}
.clear{
    clear:both;
}
.header{
    width: 100%;
    background: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}
.rojo{
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    width: 6%;
}
.menu{
    margin-top: 3%;
    width: 60%;
}
.menu li{
    margin: 1%;
}
.buscador{
    margin-top: 3%;
    width: 20%;
    padding: 1%;
}
.imagenbutton{
    width: 10%;
    cursor: pointer; 
}
.center{
    text-align: center;
}
.eventos{
    margin-left: 5%;
    width: 25%;
}
.cajafooter{
    width: 16%;
}